git+https://github.com/facebookresearch/segment-anything.git
groundingdino
torch==2.0.0
torchvision==0.13.1
streamlit
Pillow
numpy
matplotlib
git+https://github.com/luca-medeiros/lang-segment-anything.git
